@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 65px;
}

.dark {
  --background: #1e1e1e;
  --foreground: #ededed;
}

body, html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

h1, .h1, h2, .h2 {
  font-weight: 600;
}

h1, .h1 {
  font-size: calc(1rem * 2);
}
h2, .h2 {
  font-size: calc(1rem * 1.5);
}
h3, .h3 {
  font-size: calc(1rem * 1.25);
}
h4, .h4 {
  font-size: calc(1rem);
}
h5, .h5 {
  font-size: calc(1rem * 0.875);
}

.py-015 {
  padding-top: .38rem;
  padding-bottom: .38rem;
}

.court-card-image {
  min-height: 120px;
  height: 12vw;
  max-height: 180px;
}

.page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Leaflet map overrides */

main {
  .leaflet-popup-content p {
    margin: 0;
  }
  .leaflet-container {
    height: calc(100vh - var(--header-height));
  }
}

/* HTML marker styles */

/* use bg-yellow-500 for the marker color */
.court-marker {
  background-color: oklch(79.5% 0.184 86.047);
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.court-marker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid oklch(79.5% 0.184 86.047);
}

.courts-label {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

/* make location marker look like googles blue dot */
/* use bg-blue-500 for the marker color */
.your-location.leaflet-marker-icon {
  background-color: oklch(79.5% 0.184 240.047);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1000 !important;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(44, 15, 236, 0.5);
}

body .leaflet-container {
  font-family: "Nunito", sans-serif;
  .leaflet-popup {
    .leaflet-popup-content-wrapper {
      padding: 0;
    }
    .leaflet-popup-content {
      margin: 0 !important;
      width: 250px !important;
    }
    .leaflet-popup-close-button {
      background-color: white;
      border-radius: 50%;
      margin: 5px;
    }
  }
  .leaflet-popup-tip-container {
    display: none;
  }
  .leaflet-control-attribution {
    font-size: .7rem;
  }
}

.animate-expand {
  animation: expand 0.3s ease-in-out forwards;
}
@keyframes expand {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.15);
  }
}