@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 65px;
}

.dark {
  --background: #1e1e1e;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.py-015 {
  padding-top: .38rem;
  padding-bottom: .38rem;
}

.court-card-image {
  min-height: 120px;
  height: 12vw;
  max-height: 180px;
}

/* Leaflet map overrides */

main {
  .leaflet-popup-content p {
    margin: 0;
  }
  .leaflet-container {
    height: calc(100vh - var(--header-height));
  }
}

/* HTML marker styles */

/* use bg-yellow-500 for the marker color */
.court-marker {
  background-color: oklch(79.5% 0.184 86.047);
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.court-marker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid oklch(79.5% 0.184 86.047);
}

.courts-label {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

/* make location marker look like googles blue dot */
/* use bg-blue-500 for the marker color */
.your-location.leaflet-marker-icon {
  background-color: oklch(79.5% 0.184 240.047);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1000 !important;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(44, 15, 236, 0.5);
}

.leaflet-container {
  .leaflet-popup {
    .leaflet-popup-content {
      margin: 0 !important;
    }
    .leaflet-popup-close-button {
      background-color: white;
      border-radius: 50%;
      margin: 5px;
    }
  }
}