@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 65px;
}

.dark {
  --background: #1e1e1e;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.py-015 {
  padding-top: .38rem;
  padding-bottom: .38rem;
}

.court-card-image {
  min-height: 120px;
  height: 12vw;
  max-height: 180px;
}

/* Leaflet map overrides */

main {
  .leaflet-popup-content p {
    margin: 0;
  }
  .leaflet-container {
    height: calc(100vh - var(--header-height));
  }
}